<section class="flex flex-col ">
  <%= render "user", user: @user %>
  <div class="flex justify-center">
  <div class="bio border-2 border-blue-gray w-9/12 ">
    <h3>Bio<h3>
    <p><%= @user.bio %></p>
  </div>
  </div>

  <% @posts.each do |post| %>
    <%= link_to user_posts_path(@user.id) do %>
      <%= render "posts/post", post: post %>
    <% end %>
  <% end %>
  </section>