<h2 class="m-3">Add a Like</h2>
<%= form_with url: user_post_like_index_path(@user.id, @post.id) do |form| %>
  <div>
    <%= form.button "Add Like", type: "submit", class: "button button-text button-pink", 'data-ripple-light': true %>
  </div>
<% end %>